<div class="homepage-container">
    <div class="homepage-header">
         Patient Details 
    </div>
        <div class="sidebar">
        <a routerLink="/homepage/manavsingh" class="patient" routerLinkActive="router-link-active">Manav Singh</a>
        <a routerLink="/homepage/AbhishekBhattacharya" class="patient" routerLinkActive="router-link-active">Abhishek Bhattacharya</a>
        <a (click)="patientdetails()" class="patient">Dante Horton</a>
        <a (click)="patientdetails()" class="patient">Gina Everett</a>
        <a (click)="patientdetails()" class="patient">Porter Vasquez</a>
        <a (click)="patientdetails()" class="patient">Ivan Harvey</a>
        <a (click)="patientdetails()" class="patient">Jon Snow</a>
    </div>
    <div class="patient-details">
        <router-outlet></router-outlet>
    </div>
</div>

