.homepage-container{
    position: relative;
    top: 100px;
    display: flex;
    /* justify-content: space-between; */
}
.homepage-header{
    width: 25%;
    display: flex;
   
    
}
.homepage-header,h1{
    padding-left: 25px;
    font-weight: 700;
    font-size: 1.5em;
}
.sidebar{
    position: fixed;
    top: 22%;
    left: 0px;
    width: 15%;
    color: #0d33f183;
    background-color: rgba(128, 128, 128, 0.234);
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100vh;
    max-width: 20%;
    border-radius: 5px;
}
a{
    color: #000;
    border-radius: 2px;
    text-decoration: none;
}
a:nth-child(odd){
background-color: white;
}
.router-link-active{
text-decoration: underline;
}
.patient{
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 15px;
    font-weight: 500;
}
.updateDetails{
    position: absolute;
    top: -15px;
    right: 10px;
    height: 50px;
    width: 100px;
    outline: none;
    border: none;
    background-color: #0D32F1;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'PT Sans Narrow';
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.updateDetails:hover{
    cursor: pointer;
    background-color:#3555f780;
    border-radius: 8px;
}