<div class="patient-details-container">
    <div class="details">
        <div class="Personal-Details">
            <h3>Personal Details</h3>
            <div class="name">
            <span class="material-symbols-outlined">badge</span>
            <Label class="name-text"> Manav Singh</Label>
        </div>
        <div class="address">
            <span class="material-symbols-outlined">location_on</span>
        
        <label class="address-text">Treasure Collection Bldg, Ab Nair Road, Near Juhu Church & Post Office, Juhu, Mumbai, Maharashtra, 400049</label>
    </div>
        <div class="phone">
            <span class="material-symbols-outlined">
                call
                </span>
        
        <label class="phone-text">9998856610</label>
    </div>
    </div>
        <div class="Contacts">
            <h3>Contacts</h3>
            
            <div class="primary-contact">
                <span class="material-symbols-outlined">
                    call
                    </span>
            <div class="primary-contact-name">
                <label>Randeep Singh </label>
            </div>
            <div class="primary-contact-relation">
                <label> Relation:  Father </label>
            </div>
            </div>
            <div class="secondary-contact">
                <span class="material-symbols-outlined">
                    phone_paused
                    </span>
            <div class="secondary-contact-name">
                <label>Arshpreet Singh </label>
            </div>
            <div class="secondary-contact-relation">
                <label> Relation:  Mother </label>
            </div>
            </div>
        </div>

        <div class="Patient-History">
            <h3>Patient History</h3>
            <table>
            <tr>
                <th>Date</th>
                <th>Visit No</th>
                <th>Visit Status</th>
                <th>Claim No</th>
                <th>Claim Status</th>
                <th>Invoice No</th>
            </tr>
            <tr>
                <td>09/12/2022</td>
                <td>23365</td>
                <td>Complete</td>
                <td>559698</td>
                <td>Pending</td>
                <td>7786546576</td>
            </tr>
            <tr>
                <td>09/12/2022</td>
                <td>23365</td>
                <td>Complete</td>
                <td>559698</td>
                <td>Pending</td>
                <td>7786546576</td>
            </tr>
        </table>
        </div>

    </div>
</div>

<!-- Phone number  02226250164
            
            Zip code  400049
            
            Country calling code  +91
            
            Country  India -->